[Unit]
Description=Automatic Smart DNS Rearm
After=network-online.target
Wants=network-online.target

[Timer]
OnBootSec=${AUTO_REARM_INTERVAL}
OnUnitActiveSec=${AUTO_REARM_INTERVAL}
AccuracySec=1min
Persistent=true
Unit=rearm.service

[Install]
WantedBy=timers.target
