[Unit]
Description=Smart DNS Rearm
After=network-online.target unbound.service
Wants=network-online.target
Requires=unbound.service

[Service]
Type=oneshot
ExecStart=/bin/bash __BASE_DIR__/rearm.sh
